{{#if enabled}}
<div class="modal-shadow">
  <div class="modal-frame">
  <div class="modal-title">
    
    <h3 class="modal-title-text">
     {{title}}
    </h3>
    <button {{action "toggleModal"}}>X</button>
  </div>
  <div class="modal-body">
    {{yield}}
  </div>
  </div>
</div>
{{/if}}
