@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";



.logo {
  border: 1px solid black;
  border-radius: 50%;
  height:50px;
  width:50px;

};

.clickbutton{


}
